body {
  margin: 0;
}

.menuBar {
  background: #ddd;
  display: flex;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      display: ink;
      font-weight: bold;
    }

    hr {
      width: 100%;
    }

    .menuItems {
      display: none;
      flex-direction: column;
      align-items: flex-start;

      position: absolute;
      top: 1rem;
      width: 10rem;

      background: #ddd;
      border: 1px solid black;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .menuLabel {
      font-weight: bold;
    }
  }
}
