body {
  margin: 0;
}

.menuBar {
  background: #ddd;
  display: flex;
  padding: 0.2rem;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      display: ink;
      font-weight: bold;
    }

    hr {
      width: 100%;
    }

    .menuItems {
      display: none;
      flex-direction: column;
      align-items: flex-start;

      position: absolute;
      top: 1.2rem;

      background: #ddd;
      border: 1px solid black;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

      button {
        display: inline-block;
        white-space: nowrap;
      }

      button:hover {
        background: #339;
        color: white;
      }
    }

    .menuLabel {
      font-weight: bold;
    }

    .selected {
      background: #339;
      color: white;
    }
  }

  .menuBarLogo {
    height: 1rem;
    margin: 0 0.4rem;
  }
}
