body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;

  background-color: #63639c;
  font-family: sans-serif;
  margin: 0;
}

.border-right-dotted {
  border-right: 1px dotted black;
  padding-right: 1rem;
}

button {
  border-radius: 0.25rem;
  border-width: 2px;
}

.button {
  position: absolute;
}

.column {
  display: flex;
  flex-direction: column;
}

dialog > form {
  display: flex;
  gap: 1rem;
}

.gap2 {
  gap: 0.5rem;
}

input[type='checkbox'] {
  margin-right: 0.3rem;
}

button,
label,
select,
span {
  font-size: 0.8rem;
  font-weight: bold;
}

main {
  flex-grow: 1;
  position: relative;
}

.mb1 {
  margin-bottom: 0.25rem;
}

.mb4 {
  margin-bottom: 1rem;
}

.menuBar {
  display: flex;
  align-items: center;

  background: #ddd;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.1rem 0.7rem;
  z-index: 100;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: ink;
    }

    hr {
      width: 100%;
    }

    .menuItems {
      display: none;
      flex-direction: column;
      align-items: flex-start;

      position: absolute;
      top: 1.2rem;

      background-color: #ddd;
      border: 1px solid black;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

      button {
        display: inline-block;
        white-space: nowrap;
      }

      button:hover {
        background-color: #339;
        color: white;
      }
    }

    .selected {
      background-color: #339;
      color: white;
    }
  }

  .menuBarLogo {
    height: 1rem;
    margin.right: 0.4rem;
  }

  .menuLabel {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .spacer {
    flex-grow: 1;
  }

  #time {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
}

.right-aligned {
  justify-content: flex-end;
}

.row {
  display: flex;
  align-items: center;
}

.stack {
  position: absolute;
  left: 0px;
  top: 0px;

  margin: 0;
  padding: 0;
}

.titleBar {
  background-color: #bfbfbf;
  cursor: grabbing;
  display: flex;
  justify-content: space-between;
}
